In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('my_database') #Incase of Oracle or SQL Server you have to write the JDBC url

In [3]:
db.execute('drop table if exists DB')

In [4]:
db.execute('create table DB(id int,name text)')

In [5]:
db.execute("insert into DB values (1,'Ram')")
db.execute("insert into DB values (2,'Hari')")
db.execute("insert into DB values (20,'Lex')")
db.execute("insert into DB values (10,'Grey')")
db.execute("insert into DB values (25,'Haris')")

In [6]:
db.commit()

In [7]:
results = db.execute('select * from DB')
for row in results:
    print(row)

(1, 'Ram')
(2, 'Hari')
(20, 'Lex')
(10, 'Grey')
(25, 'Haris')

In [9]:
results = db.execute('select * from DB order by id desc')
for row in results:
    print(row)

(25, 'Haris')
(20, 'Lex')
(10, 'Grey')
(2, 'Hari')
(1, 'Ram')

In [8]:
db.close()