In [1]:
import pandas as pd
import numpy as np

In [3]:
new_l = list((1,2,3,4,5,6))

In [4]:
new_l

[1, 2, 3, 4, 5, 6]

In [6]:
def sqrtt(x):
    return x**2

In [8]:
list(map(sqrtt,new_l))

[1, 4, 9, 16, 25, 36]

In [9]:
# importing pandas as pd 
import pandas as pd 

# Creating the dataframe 
df=pd.DataFrame({"A":[5,3,None,4], 
				"B":[None,2,4,3], 
				"C":[4,3,8,5], 
				"D":[5,4,2,None]}) 

# Print the dataframe 
df

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN

In [10]:
# applying ffill() method to fill the missing values 
df.ffill(axis = 0)

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  3.0  4.0  8  2.0
3  4.0  3.0  5  2.0

In [11]:
# applying ffill() method to fill the missing values 
df.ffill(axis = 1)

     A    B    C    D
0  5.0  5.0  4.0  5.0
1  3.0  2.0  3.0  4.0
2  NaN  4.0  8.0  2.0
3  4.0  3.0  5.0  5.0