In [4]:
import pandas as pd
import numpy as np

In [12]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

In [13]:
zip(outside,inside)

In [14]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [15]:
hier_index = list(zip(outside,inside))

In [16]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [17]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [18]:
df = pd.DataFrame(data=np.random.randn(6,3),index=hier_index,columns=['A','B','C'])

In [19]:
df

             A         B         C
G1 1  1.573848  1.955382  0.041563
   2 -0.451946 -0.823822 -0.862837
   3  0.330302 -0.811087  0.501632
G2 1  1.668866  0.916906 -0.309456
   2 -0.454892  0.950230  0.855481
   3 -0.335838  2.003785  2.030422

In [22]:
df.loc['G1'].loc[2]

A   -0.451946
B   -0.823822
C   -0.862837
Name: 2, dtype: float64