In [1]:
import pymongo

In [2]:
 # package which enables us to connect to the MongoDB
dbConn = pymongo.MongoClient("mongodb://localhost:27017/")  # connecting to the locally running MongoDB Instance

In [3]:
dbname='demoDB'
db = dbConn[dbname] # connecting to the database named demoDB present in the mongoDB
# if the database is not present, it'll autoamtically create it.

In [4]:
# show all the databases
print(dbConn.list_database_names())

['admin', 'config', 'crawlerDB', 'demoDB', 'local']

In [5]:
# check if the databse exists in mongoDB
dblist=dbConn.list_database_names() # obtaining all the database names
db_name='demoDB'

if dblist.index(db_name)==-1:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

This Databse exists

In [6]:
# connecting to a collection--- collections are analogous to tables
collection_name='dmo'
collection=db[collection_name]  # connectig to the collection itself present in the database.

In [7]:
# cheking if a collection exists
if collection_name in db.list_collection_names():
    print("The collection exists.")
else:
    print("The collection doesn't exist.")

The collection exists.

In [8]:
# inserting row into the collection
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'} # creating key value pairs for inserting into the DB

In [9]:
x = collection.insert_one(my_row)  # inserting record into the collection

In [10]:
print(x.inserted_id) # printing the unique id for insert
# This insert id is usefull for identifying the document

5fa7f472f9e2804b875052f2

In [11]:
# inserting multiple rows once
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]# creating key value pairs for inserting into the DB

In [12]:
# inserting records into the collection 
x = collection.insert_many(my_rows)

In [13]:
# printing the unique id for insert
print(x.inserted_ids)

[ObjectId('5fa7f473f9e2804b875052f3'), ObjectId('5fa7f473f9e2804b875052f4'), ObjectId('5fa7f473f9e2804b875052f5'), ObjectId('5fa7f473f9e2804b875052f6'), ObjectId('5fa7f473f9e2804b875052f7')]

In [14]:
# retieving all the records from collection
result= collection.find({}) 
result[3] #printing the third record

{'_id': ObjectId('5fa7950b0a3655d1dc996ca5'),
 'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'}

whenever we are calling the find() method, if we have too many rows/records in the table, then we'll get too many responses for that which might overwhelm the application. To overcome this scenario, we have a way in mongoDB to have an upper limit on the number of rows returned.

It is called the **limit()** method.

In [15]:
# printing only the five rows
result_total= collection.find({}).limit(3)
for res in result_total:
    print(res)

{'_id': ObjectId('5fa7950b0a3655d1dc996ca2'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5fa7950b0a3655d1dc996ca3'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5fa7950b0a3655d1dc996ca4'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}

In [16]:
# retrieveing some columns
result_some= collection.find({}, {'GRE Score','TOEFL Score'}).limit(5) # retrieveing two columns
# The second parameter in find() specifies which columns to choose
for res in result_some:
    print(res)

{'_id': ObjectId('5fa7950b0a3655d1dc996ca2'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5fa7950b0a3655d1dc996ca3'), 'GRE Score': '336', 'TOEFL Score': '118'}
{'_id': ObjectId('5fa7950b0a3655d1dc996ca4'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5fa7950b0a3655d1dc996ca5'), 'GRE Score': '334', 'TOEFL Score': '119'}
{'_id': ObjectId('5fa7950b0a3655d1dc996ca6'), 'GRE Score': '337', 'TOEFL Score': '118'}

In [17]:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
# printing all the rows where GRE Score is 337
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5fa7950b0a3655d1dc996ca2'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5fa7950b0a3655d1dc996ca4'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5fa7950b0a3655d1dc996ca6'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5fa7f472f9e2804b875052f2'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5fa7f473f9e2804b875052f3'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5fa7f473f9e2804b875052f5'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5fa7f473f9e2804b875052f7'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [18]:
my_db_query={'GRE Score':{'$gt':'337'}}
# printing all the rows where GRE Score is greaterthan 33 ($gt is greater than)
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

In [19]:
# we can sort the above results as well, this has been sorted in ascending order

result_GRE= collection.find(my_db_query).sort('GRE Score')
for res in result_GRE:
    print(res)

In [20]:
# we can sort the above results in descending order

result_GRE= collection.find(my_db_query).sort('GRE Score',-1)
for res in result_GRE:
    print(res)

In [21]:
# Deleting records from mongo DB:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
x=collection.delete_one(my_db_query) # the deletion step
print(x.deleted_count)

1

We have succesfully deleted one row/record from the collection.

Similarly, for deleting multiple rows, we can use **collection.delete_many(my_deb_query)**

For deleting all documents of a collection, we can use **collection.delete_many({})**

In [22]:
# For dropping an entire collection
collection_to_drop=db['test_collection'] # drops the entire collection named 'test collection'
collection_to_drop.drop()

In [23]:
# updating the values present in collection

update_criteria={'GRE Score':'340'}
new_values= { "$set": { "GRE Score": "350" } }

x = collection.update_many(update_criteria, new_values)

print(x.modified_count)

0

We have updated the nine columns with GRE Score 340 with GRE Score 350.

Similarly, we can update only one row by using the function **update_one(update_criteria, new_values)**